<header class="py-5 mb-10">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-5">
        <img src="assets/CO.png" style="width: 80%; height: auto" />
      </div>
      <div class="col-lg-5">
        <h1 class="display-6 text-black mt-5 mb-2">
          Exploring Brazil's Central-West: Where Plains and Biodiversity Unite
        </h1>
        <p class="lead mb-5 text-black"></p>
        <p>
          The Central-West region of Brazil is a captivating blend of vast
          plains, unique ecosystems, and a rich cultural tapestry. It is known
          for its distinctive feature, the Pantanal, the world's largest
          tropical wetland area. This unique and biodiverse ecosystem is a
          sanctuary for wildlife, with a staggering array of species inhabiting
          its marshes, forests, and rivers. Visitors to the Pantanal can embark
          on unforgettable wildlife safaris and experience the wonders of nature
          up close.
        </p>
        <p>
          In the heart of the Central-West region lies Brasília, the capital
          city, known for its futuristic architecture and urban planning.
          Designed by renowned architect Oscar Niemeyer, the city's modernist
          structures are a testament to the country's vision for the future. The
          region's culture is deeply rooted in traditions like rodeos and cattle
          ranching, reflecting its agricultural significance. The local cuisine
          is a reflection of the region's cowboy heritage, featuring hearty
          dishes and succulent meats.
        </p>
        <p>
          The Central-West is a land of contrasts, where the serenity of the
          Pantanal coexists with the dynamic urban environment of Brasília. This
          region offers a unique blend of natural beauty, biodiversity, and
          cultural richness, making it a compelling destination for those
          seeking to explore the heart of Brazil.
        </p>
      </div>
    </div>
  </div>
</header>
