<header class="py-5 mb-10">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-5">
        <img src="assets/SD.png" style="width: 80%; height: auto" />
      </div>
      <div class="col-lg-5">
        <h1 class="display-6 text-black mt-5 mb-2">
          Exploring Brazil's Southeast: Where Urban Splendor Meets Natural
          Beauty
        </h1>
        <p class="lead mb-5 text-black"></p>
        <p>
          Brazil's Southeastern region is a captivating blend of bustling urban
          centers and breathtaking natural landscapes. Rio de Janeiro, with its
          iconic beaches, such as Copacabana and Ipanema, is known worldwide for
          its lively atmosphere and vibrant culture. The Southeast is a region
          where the allure of the city and the serenity of nature beautifully
          coexist.
        </p>
        <p>
          The Atlantic Forest, a UNESCO World Heritage site, covers significant
          portions of the Southeast, offering lush biodiversity and abundant
          greenery. The region is home to stunning national parks like Iguazu
          Falls and Serra dos Órgãos, where adventure-seekers can explore
          picturesque hiking trails and awe-inspiring waterfalls.
        </p>
        <p>
          São Paulo, the economic and cultural hub of Brazil, showcases a
          dynamic cityscape with a thriving arts scene, world-class dining, and
          a rich cultural heritage. The Southeastern region is also known for
          its historical and colonial towns, like Paraty and Ouro Preto, which
          provide a window into Brazil's past. It's a region where the vibrancy
          of urban life harmonizes with the tranquility of natural beauty,
          creating a diverse and captivating experience for visitors.
        </p>
      </div>
    </div>
  </div>
</header>
