<header class="py-5 mb-10">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-5">
        <img src="assets/N.png" style="width: 80%; height: auto" />
      </div>
      <div class="col-lg-5">
        <h1 class="display-6 text-black mt-5 mb-2">
          Exploring Brazil's Enchanting Northern Region
        </h1>
        <p class="lead mb-5 text-black"></p>
        <p>
          The Northern region of Brazil boasts the awe-inspiring Amazon
          Rainforest, home to an astounding variety of biodiversity. The Amazon
          River flows through this lush territory, supporting local communities
          in their harmonious coexistence with the rainforest. Amazonas, a key
          state in this region, holds the majority of the Brazilian Amazon and
          serves as a gateway to remarkable adventures in the heart of the
          jungle.
        </p>
        <p>
          This part of Brazil is a captivating blend of rich indigenous
          traditions, vibrant music, and diverse cuisine. The Northern region's
          culture reflects a fusion of ancient customs and contemporary
          influences. As the region's cities develop into thriving commercial
          and industrial hubs, the natural beauty of the Amazon remains at the
          forefront, preserving its ecological importance.
        </p>
        <p>
          In the Northern region of Brazil, the Amazon Rainforest is a majestic
          sanctuary, offering an extraordinary connection between humanity and
          nature. This unique landscape showcases the region's commitment to
          celebrating and conserving its ecological heritage.
        </p>
      </div>
    </div>
  </div>
</header>
