<header class="py-5 mb-10">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-5">
        <img src="assets/ND.png" style="width: 80%; height: auto" />
      </div>
      <div class="col-lg-5">
        <h1 class="display-6 text-black mt-5 mb-2">
          Discovering Brazil's Rich Northeastern Heritage
        </h1>
        <p class="lead mb-5 text-black"></p>
        <p>
          The Northeastern region of Brazil is a land of captivating contrasts,
          where stunning beaches meet historic cities that bear witness to a
          rich colonial past. The region's coastline is adorned with some of the
          world's most breathtaking beaches, each with its unique charm and
          beauty. Beyond the shoreline, historic cities like Salvador, Recife,
          and Olinda are cultural treasures, where the legacy of Portuguese
          colonialism is still very much alive in the architecture, traditions,
          and vibrant street festivals.
        </p>
        <p>
          Known for its Afro-Brazilian influence, the state of Bahia, in the
          Northeast, is a cultural jewel. Here, the rich blend of African,
          indigenous, and European heritage is evident in the music, dance, and
          cuisine. It's a place where history comes to life, and the vibrant
          street performances and colorful markets create a lively atmosphere
          that's hard to resist. The Northeast is a region where the past and
          present coexist in perfect harmony, inviting travelers to delve into
          the heart of Brazilian culture.
        </p>
        <p>
          In the Northeastern region of Brazil, the fusion of history, culture,
          and stunning natural landscapes creates an alluring tapestry that
          beckons visitors to explore its unique heritage. From the sandy shores
          to the cobbled streets of colonial towns, the Northeast offers an
          unforgettable journey through time and tradition.
        </p>
      </div>
    </div>
  </div>
</header>
