<header class="py-5 mb-10">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-5">
        <img src="assets/s.png" style="width: 80%; height: auto" />
      </div>
      <div class="col-lg-5">
        <h1 class="display-6 text-black mt-5 mb-2">
          Exploring the Charms of Brazil's Southern Region
        </h1>
        <p class="lead mb-5 text-black"></p>
        <p>
          Brazil's Southern region offers a unique blend of European influences
          and cultural traditions that set it apart from the rest of the
          country. This region is known for its strong ties to European
          immigration, particularly from countries like Italy and Germany.
          Cities such as Porto Alegre, Curitiba, and Florianópolis boast
          architectural remnants of this European heritage, while traditions
          like Oktoberfest and Italian festivals continue to thrive.
        </p>
        <p>
          One cannot mention the South without acknowledging its distinct
          cuisine. The region is famous for its barbecue (churrasco), a
          mouthwatering tradition where succulent cuts of meat are grilled to
          perfection. Additionally, the Southern region produces some of
          Brazil's finest wines, particularly in the state of Rio Grande do Sul.
          The gastronomy here is a tantalizing blend of German, Italian, and
          indigenous influences, offering a delightful and savory journey for
          food enthusiasts.
        </p>
        <p>
          The natural beauty of the Southern region is equally compelling.
          Pristine beaches, lush forests, and rolling hills make it a diverse
          and picturesque destination. The region's lush landscapes are the
          perfect backdrop for outdoor adventures, and the cities' charming
          atmosphere provides a comfortable blend of urban and natural
          experiences. Brazil's Southern region is a testament to the enduring
          influence of European cultures and the remarkable beauty of its
          landscapes.
        </p>
      </div>
    </div>
  </div>
</header>
