.footer {
  height: 30px;
  text-align: center;
}
.main-container {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
